{% extends 'partials/base.html.twig' %}

{% block content %}
{% set channel_image = ((header.podcast.itunes.image)|first) %}
<section id="{{ id }}" class="section text-light title-h1h2 hero-tiny {{ page.header.background.parallax ? 'parallax' : '' }}" style="background-color:#2E3E4B">
    <div class="image-overlay"></div>
    <section class="container {{ grid_size }}" style="text-align: {{ page.header.hero_align|default('center') }}">
  <div class="columns">
    <div class="column col-6 col-mx-auto">      
      <img src={{ page.find('/media').media['ObsgynaePod-logo-wide3.png'].url() }} /> 
      <h5>{{page.header.podcast.description}} </h5>
      <button class="btn">default button</button>
<button class="btn btn-primary">primary button</button>
</div>  
      </div>
    </section>
 
    <i id="to-start" class="pulse fa fa-angle-down"></i>
</section>


    {% set series = page.collection({ 'items': '@self.descendants', 'order': {'by': 'date', 'dir': 'desc'}} ).ofType('podcast-series') %}
    {% set episodes = page.collection({ 'items': '@self.descendants', 'order': {'by': 'date', 'dir': 'desc'}} ).ofType('podcast-episode') %}
            {% set channel_image = ((header.podcast.itunes.image)|first) %}
<!--            {{ page.media[channel_image.name].resize(200, 200).html() }}

            <p class = "owner">by {{ header.podcast.itunes.owner.name}}</p>
            <p>{{page.header.podcast.description}}</p>
        <div class="channel-links">
            <a href="{{base_url_simple}}{{page.route}}.rss"><i class="fa fa-rss" aria-hidden="true"></i> {{page.title}} Podcast</a>

        </div>

    {% if (page.content) %}
    <div class="channel-content">
        <p>
            {{page.content}}
        </p>
    </div>

    {% endif %}
--> 
    {% include 'partials/podcast_episodes_list.html.twig' %}
    {% include 'partials/podcast_series_list.html.twig' %}
    <div class="clearfix"></div>


{% endblock %}

